# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_POBOARD_LEFT

config ZMK_KEYBOARD_NAME
    default "POBOARD"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_POBOARD_LEFT || SHIELD_POBOARD_RIGHT

config ZMK_SPLIT
    default y

endif