# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_BOBOARD_LEFT

config ZMK_KEYBOARD_NAME
    default "BOBOARD"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_BOBOARD_LEFT || SHIELD_BOBOARD_RIGHT

config ZMK_SPLIT
    default y

endif